/*  =============================
    align places to fit container
    =============================
*/
.places {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*  ===============================
    typography setting for h1 title
    ===============================
*/
.places h1 {
    font-size: 30px;
    width: 100%;
    margin-bottom: 10px;
}

/*  ===========================
    align articles under places
    ===========================
*/
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
}

/*  ===============================
    typography setting for articles
    ===============================
*/
.places article h2 {
    font-size: 30px;
    text-align: center;
}
